/* page adjusts to screen size and sections 
are stacked on top of each other */
:root{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
}



/* have a background img fit the container 
and change flex direction */

.cont-img-bgr{
    display: flex;
    flex-direction: column;
    min-height: 70em;
    background-image: url("imgs/bgr-photo-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.logo-part h1{
    font-size: 2em;
}

.buy-rent {
    font-size: 1.5em;
}

.nav-part ul{
    display: flex;
    list-style: none;
    gap: 1.5em;

}

.nav-part a{
    text-decoration: none;
    /* color: rgb(6, 110, 246); */
    font-size: 1.5em;
}

.catchphrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.catchphrase h1{
    color: white;
    font-size: 4em;
}

.sale-type-choice input {
    display: none;
}


.sale-type-choice label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em ;
    font-weight: bold;
    color: rgb(3, 0, 3);
    background-color: white;
}

/* Style for when we hover over the label*/
.sale-type-choice label:hover {
    background-color: #01aef9;
}

/* Style for when radio button is checked */
.sale-type-choice input:checked + label {
    background-color: #044f85;
    color: rgb(255, 255, 255);
    border-color: #3500f6;
}

.main-content{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







.filter-bar{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(246, 243, 243);
    align-items: center;
    border-radius: 5em;
    padding: 1.5em;
    

}


.filter-bar > div{
    flex: 1;
    display: flex;
    align-items: center;
    
    
}

.filter-bar input, .filter-bar select, .filter-bar button{
    flex: 1;
    flex-basis: 50%;
    display: inline;
    padding: 1em;
    border-radius: 1em;
    border: none;
    margin: 0.5em;
}

.filter-bar label{
    text-align: center;
    font-size: 1.5em;
}

.price-filter{
    display: flex;
    
}

.price-filter input{
    flex: 1;
    flex-basis: 50%;
    display: inline;
}

.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    

}

.search button{
    background-color: blueviolet;
    color: white;
    border-radius: 1em;
    
}

.search button:hover{
    background-color: #01aef9;
}

.search button:active{
    background-color:blueviolet;
}

.list-property{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    
}

.list-property button{
    background-color: blueviolet;
    color: white;
    border-radius: 5em;
    padding: 1.5em;
}


.homes-listing,.land-listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.property-listing {
    border: 1px solid #ccc;
    border-radius: 4em;
    margin: 20px;
    overflow: hidden;
    width: 200px; 
}

.property-listing img {
    width: 100%;
    height: auto;
    display: block;
}

.property-listing figcaption {
    padding: 10px;
}

.property-listing h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
}

.property-listing p {
    font-size: 0.9em;
    margin: 3px 0;
    text-align: center;
}



.footer{

    display: flex;
    align-items: center;
    padding: 3em;
    background: rgb(238, 238, 238);
    justify-content: space-evenly;
}

.footer-content {
    justify-content: left;
    gap: 10em;
    
}

.footer-content h3{
    font-size: 2em;
    text-align: center;
    line-height: 4em;
}

.footer-content ul{
    list-style: none;
    font-size: 1.5em;
}
.footer-content li{
    margin: 1em;
    display: inline-block;
}

.footer-content li{
    margin: 1em;
}
.footer-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-content a:hover,.nav-part a:hover{
    color: blueviolet;
}

.footer .logo-part{
    align-items: center;

}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 17, 17);
}