<link rel="stylesheet" href="styles/add-property.css">

<section class="property-adder">
    <div class="add-info">
        <p>Το Property Finder σας εγγυάται μια απλή και γρήγορη διαδικασία υποβολής αγγελιών, προσφέροντας:</p>
        <ul>
            <li>Εύχρηστο περιβάλλον για την καταχώρηση των στοιχείων της ιδιοκτησίας σας</li>
            <li>Άμεση ορατότητα από πιθανούς αγοραστές και ενοικιαστές</li>
            <li>Υποστήριξη και βοήθεια από την ομάδα μας σε κάθε βήμα</li>
            <li>Ασφαλή και αξιόπιστη πλατφόρμα για τη διαχείριση των αγγελιών σας</li>
        </ul>
        <p>Ξεκινήστε σήμερα και βρείτε τους ιδανικούς ενδιαφερόμενους για την ιδιοκτησία σας με το Property Finder!</p>
    </div>

    <div class="property-info">
        <form action = "/createProperty" method="POST" class="property-form">
            <div class="form-contents">

                <div class="column">
                
                    <input type="text" id="country" name="location[country]" required placeholder="Χώρα">
                    <input type="text" id="city" name="location[city]" required placeholder="Πόλη">
                    <input type="text" id="zip" name="location[zip]" required placeholder="Ταχ Κώδικας">
                    <input type="text" id="neighborhood" name="location[neighborhood]" required placeholder="Περιοχή">
                    <input type="text" id="adress" name="property[address]" required placeholder="Οδός">
                </div>
            
                <div class="column">
                    <select name="property[type]" id="type" >
                        <option value="Κατοικία">Κατοικία</option>
                        <option value="Επαγγελματικό">Επαγγελματικό</option>
                        <option value="Γη">Γη</option>
                    </select>
                
            
                
                    <select name="property[subtype]" id="subtype" required>
                        <option value="">Υποκατηγορία</option>
                        <!-- Subtype options will be populated dynamically based on property type selection -->
                    </select>
                
                    <select name="property[forRent]" id="forRent">
                        <option value="Ενοικίαση">Ενοικίαση</option>
                        <option value="Πώληση">Πώληση</option>
                    </select>
                
            
                
                    <input type="number" id="price" name="property[price]" required placeholder="Τιμή">
                
                
                
                    <input type="number"  id="surface" name="property[surface]" required placeholder="Εμβαδό(τμ)">
                </div>

                <div class="column">
                    <textarea  id="description" name="property[description]" cols="20" rows="10" required placeholder="Περιγραφή"></textarea>
                
                    <div class="additional-filters compact-range" id="additionalFilters" style="display: none;">
                        <!-- Additional filters will be added here based on the property type -->
                    </div>

                </div>
            </div>
            
            <button type="submit" class="submit" >Yποβολή</button>
            
            
        </form>
    </div>
</section>