<link rel="stylesheet" href="styles/add-property.css">

<section class="main-content">
    <div class="add-info">
        <p>Το Property Finder σας εγγυάται μια απλή και γρήγορη διαδικασία υποβολής αγγελιών, προσφέροντας:</p>
        <ul>
            <li>Εύχρηστο περιβάλλον για την καταχώρηση των στοιχείων της ιδιοκτησίας σας</li>
            <li>Άμεση ορατότητα από πιθανούς αγοραστές και ενοικιαστές</li>
            <li>Υποστήριξη και βοήθεια από την ομάδα μας σε κάθε βήμα</li>
            <li>Ασφαλή και αξιόπιστη πλατφόρμα για τη διαχείριση των αγγελιών σας</li>
        </ul>
        <p>Ξεκινήστε σήμερα και βρείτε τους ιδανικούς ενδιαφερόμενους για την ιδιοκτησία σας με το Property Finder!</p>
    </div>

    <div class="property-info">
        <form class="property-form">
            <div class="form-contents">
                <div class="location-bar">
                    <label for="location"><strong>Συμπληρώστε την τοποθεσία με την παρακάτω σειρά</strong></label>
                    <input type="text" name="location" placeholder="Πόλη,Περιοχή,Οδός">
                </div>
            
                <div class="property-type">
                    <select name="property_type" id="typeSelect">
                        <option value="Κατοικία">Κατοικία</option>
                        <option value="Επαγγελματικό">Επαγγελματικό</option>
                        <option value="Γη">Γη</option>
                    </select>
                </div>
            
                <div class="subtype-type">
                    <select name="subtype" id="subtypeSelect">
                        <option value="">Επιλέξτε Υποκατηγορία</option>
                        <!-- Subtype options will be populated dynamically based on property type selection -->
                    </select>
                </div>
            
                <div class="sale-type">
                    <select name="sale_type" id="saleSelect">
                        <option value="Ενοικίαση">Ενοικίαση</option>
                        <option value="Πώληση">Πώληση</option>
                    </select>
                </div>
            
                <div class="price compact-range">
                    <input type="number" id="price" name="price" value="null" placeholder="Τιμή">
                </div>
                
                <div class="area compact-range">
                    <input type="number" id="area" name="area" value="null" placeholder="Εμβαδό(τμ)">
                </div>

                <div class="searchFilter">
                    <button type="button" class="filters-btn" id="filtersBtn">Περισσότερα</button>
                </div>
            
                <div class="additional-filters compact-range" id="additionalFilters" style="display: none;">
                    <!-- Additional filters will be added here based on the property type -->
                </div>

                <div class="searchFilter">
                    <button type="submit" class="submit" id="submitProp">Yποβολή</button>
                </div>
            </div>
        </form>
    </div>
</section>