<link rel="stylesheet" href="/styles/contact.css">

<section class="contact-info">
        <div class="contact-info-head">
            <h1>Επικοινωνήστε μαζί μας για <u>οποιαδήποτε</u> απορία ή πληροφορία</h1>
        </div>
        <div class="contact-info-body">
            <div class="contact-phone">
                <p>Ανατολική Μακεδονία και Θράκη: <span>+30 2310 123 456</span></p>
                <p>Κεντρική Μακεδονία: <span>+30 2310 456 789</span></p>
                <p>Δυτική Μακεδονία: <span>+30 2310 987 654</span></p>
                <p>Ήπειρος: <span>+30 2310 321 098</span></p>
                <p>Θεσσαλία: <span>+30 2310 654 321</span></p>
                <p>Ιόνιες Νήσοι: <span>+30 2310 789 012</span></p>
                <p>Δυτική Ελλάδα: <span>+30 2310 210 987</span></p>
                <p>Στερεά Ελλάδα: <span>+30 2310 543 210</span></p>
                <p>Πελοπόννησος: <span>+30 2310 876 543</span></p>
                <p>Βόρειο Αιγαίο: <span>+30 2310 109 876</span></p>
                <p>Νότιο Αιγαίο: <span>+30 2310 432 109</span></p>
                <p>Κρήτη: <span>+30 2310 765 432</span></p>

            </div>

            <div class="working-hours">
                <p>Δευτέρα - Παρασκευή: 09:00 - 21:00</p>
                <p>Σάββατο: 09:00 - 14:00</p>
                <p>Κυριακή: Κλειστά</p>
            </div>
        </div>

    </section>