<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,700&display=swap" />

<div class="container">
    <h1>Oooops!</h1>
    <h1>Something went wrong.</h1>
    <p>Don't let it ruin your day though.</p>
    <a href="/">BACK TO HOME</a>
    <img src="/images/homeless-man.png">
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Inter', sans-serif;
        margin-top: 10rem;
    }

    h1 {
        font-size: 3rem;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    a {
        font-size: 1.5rem;
        padding: 20px;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: 50px;
    }

    img {
        width: 40%;
        height: auto;
        margin-top: 5rem;
        margin-right: 8rem;
    }
</style>