<link rel="stylesheet" href="/styles/log-in.css">

<dialog id = "loginModal">
    <form>
        <button type="button" id = "CloseModal" >&times;</button>
        <div class="modal-contents">
        <h2>Κάντε Σύνδεση</h2>
        <legend class="mail_login">Πρόσθεσε το email</legend>
        <input type = "text" placeholder = "Email">
        <button id ="contBtn" value = "default">Συνέχεια</button>
        <div class="login_separator">
            <hr class="login_separator_text">
        </div>
        <button id = "googleBtn" value = "default">Σύνδεση με Google</button>
        <button id = "facebookBtn" value = "default">Σύνδεση με Facebook</button>
        <button id = "appleBtn" value="default">Σύνδεση με Apple</button>
        <p>Δημιουργόντας λογαριασμό συμφωνειτε με τους <a href="terms.html" target="_blank">όρους χρήσης και προυποθέσεις</a></p>
    </div>
    </form>
</dialog>