.content {
    padding: 0 20%;
    font-size: 1.5em;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d3d3d3;
}


/* Category */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form h2 {
    font-size: 1.6em;
}

.form #type-div, .form #subtype-div, .form #renting-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input[type="radio"] {
    display: none;
}

.form input[type="radio"]:hover + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.form input[type="radio"]:checked + label {
    box-sizing: border-box;
    border: 2px solid rgb(219, 219, 219);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.form label ,#details input[type="text"],#details input[type="number"],#details select,#details button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    width: 120px;
    height: 90px;
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px 15px;
    cursor: pointer;
}

#details button{
    background-color: white;
}

#details button:hover{
    border: 1px solid rgb(0, 0, 0);
}

input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#details{
    display: flex;
    flex-direction: column;
}

#details div{
    display: flex;
    justify-content: center;
    align-items: center;

}
#details input[type="text"],#details input[type="number"] {
    width: 100%;
}

.form label i {
    font-size: 2em;
    margin-bottom: 10px;
}

