.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}

.container h1 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.container hr {
    width: 80%;
    margin-bottom: 20px;
}

.container .favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .favorites p {
    font-size: 2em;
    margin: 10px;
    padding: 10px;
}