/* Search section */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55em;
    background-image: url("../images/top-down-hood.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
}

/* Main text*/
.catchphrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.catchphrase h1{
    color: white;
    font-size: 6em;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 100px;
}

/* Buy/Rent button */
.buy-rent .tabs {
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    padding: 0.35em;
    border-radius: 99px;
}

.buy-rent .tabs * {
    z-index: 2;
}

.buy-rent input[type="radio"] {
    display: none;
}

.buy-rent .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 120px;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.buy-rent input[type="radio"]:checked + label {
    color: white;
}

.buy-rent input[id="buy"]:checked ~ .glider {
    transform: translateX(0);
}

.buy-rent input[id="rent"]:checked ~ .glider {
    transform: translateX(100%);
}

.buy-rent .glider {
    position: absolute;
    display: flex;
    height: 45px;
    width: 120px;
    background-color: black;
    color: white;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

/* Search bar */
.search-bar {
    width: 100%;
    max-width: 700px;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 6em;
    padding: 1em 1em;
    margin-top: 1em;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.search-bar button img {
    width: 30px;
    height: 30px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}


/* Property listings */
.listings {
    padding: 0px 250px;
}

.sale-listings, .rent-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.sale-listings a, .rent-listings a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
}

.property-listing {
    border: 1px solid #ccc;
    border-radius: 4em;
    margin: 20px;
    overflow: hidden;
    width: 250px;
    height: 300px;
}

.property-listing img {
    width: 100%;
    height: 60%;
    display: block;
}

.property-info {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.property-info .type {
    font-size: 1.2em;
    margin: 6px 0;
}

.property-info .price {
    font-size: 2em;
    margin: 4px 0;
}

.property-info .info {
    font-size: 1.4em;
    margin: 3px 0;
}

.property-info .address {
    font-size: 1.4em;
    margin: 2px 0;
}
