/* .show-my-listings{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.show-my-listings .properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    gap: 0 30px;
    height: 320px;
    overflow: hidden;
}

.show-my-listings .properties a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
}

.show-my-listings .properties p {
    line-height: 0.8em;
}

.show-my-listings .properties .property {
    border-radius: 20px;
    overflow: hidden;
    width: 230px;
    height: 290px;
    margin: 20px 0;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.show-my-listings .properties .property:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.show-my-listings .properties .property img {
    width: 100%;
    height: 60%;
    display: block;
}

.property .details {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 10px;
    font-size: 12px;
}

.property .details p {
    margin: 6px 0;
}

.property .details .type {
    font-size: 1.1em;
}

.property .details .price {
    font-size: 2em;
}

.property .details .info {
    font-size: 1.1em;
}

.property .details .address {
    font-size: 1.4em;
}

 */

 .show-my-listings {
    padding: 0px 19.5%;
    margin-bottom: 50px;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 10px;
}

.title h2 {
    margin-bottom: 5px;
}

.title p {
    color: black;
    font-size: 1em;
    margin-top: 0;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    gap: 0 20px;
}

.properties a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
}

.properties p {
    line-height: 0.8em;
}

.properties .property {
    border-radius: 20px;
    overflow: hidden;
    width: 230px;
    height: 290px;
    margin: 20px 0;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.properties .property:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.properties .property img {
    width: 100%;
    height: 60%;
    display: block;
}

.property .details {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 10px;
    font-size: 12px;
}

.property .details p {
    margin: 6px 0;
}

.property .details .type {
    font-size: 1.1em;
}

.property .details .price {
    font-size: 2em;
}

.property .details .info {
    font-size: 1.1em;
}

.property .details .address {
    font-size: 1.4em;
}