@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.content {
    padding: 0 20%;
}

.photos {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    margin: 20px 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    gap: 5px;
}

.main-photo {
    flex: 2;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondary-photos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
}

.second-photo,
.third-photo {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.second-photo img,
.third-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Property content */
.info-interest-container {
    display: flex;
    gap: 2em;
    justify-content: center;
}


/* Info */
hr {
    margin: 18px 0;
}

.property-info {
    font-size: 20px;
}

.property-info .address-and-type .address {
    font-size: 2em;
    margin: 0;
}

.property-info .address-and-type .type {
    margin-top: 0;
    margin-bottom: 40px;
}

.property-info .address-favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-info .is-favorite,
.property-info .is-not-favorite {
    position: relative;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-size: 1em;
    text-indent: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    transition: 0.3s ease-in-out text-shadow;
}

.property-info .is-favorite:hover,
.property-info .is-not-favorite:hover {
    text-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

.property-info .is-favorite i {
    color: red;
}

.property-info .is-favorite:after,
.property-info .is-not-favorite:after {
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0;
    left: 12px;
    bottom: 3px;
    transition: 0.3s;
}

.property-info .is-favorite:hover:after,
.property-info .is-not-favorite:hover:after {
    width: 86%;
}

.property-info .price {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    height: 50px;
}

.property-info .price .total-price {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 14px;
}

.property-info .price .price-per-square {
    font-weight: 600;
}

.property-info .overview {
    display: flex;
    gap: 2em;
    align-items: center;
    margin: 0;
}

.property-info .overview p {
    margin: 5px 0;
}

.property-info .description * {
    margin: 10px 0;
}

.property-info .description p {
    text-align: justify;
}

.property-info .details div {
    display: flex;
}

.property-info .details div p {
    margin: 10px 0;
}

.property-info .details div > p {
    width: 220px;
}


/* Interest form */
.interest-form  {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    height: 100%;
}


.interest-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.interest-form p {
    text-align: center;
    font-size: 2.1em;
    margin: 10px;
}

.interest-form .name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.interest-form .name input {
    width: 100%;
}

.interest-form input {
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.interest-form textarea {
    resize: vertical;
    height: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.interest-form input,
.interest-form textarea {
    padding: 0.5em;
    border: 0.1em solid #c7c7c7;
    border-radius: 5px;
    transition: 0.15s ease-in-out box-shadow;
}

.interest-form input:hover,
.interest-form textarea:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);
}

.interest-form input::placeholder,
.interest-form textarea::placeholder {
    color: #c7c7c7;
}

.interest-form button {
    padding: 0.5em 1em;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.7em;
    flex: 0 1 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.3s ease-in-out transform;
}

.interest-form button:hover {
    transform: scale(1.02);
}
