
/* .add-fav{
    
    color: black;
    text-align: center;
}

.add-fav label{
    font-size: 20px;
}

.property-photos{
    width: fit-content;
    margin: 0 auto;

}

.photos {
    display: flex;
    justify-content: center;
    gap: 1em; 
    margin-top: 2em;
    margin: 1em 4em; 
    border-radius: 1em;
}

.main-photo {
    flex: 0 1 70%;
    display: flex;
    justify-content: flex-end;

}

.main-photo img {
    width: 100%;
}

.secondary-photos {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.second-photo,
.third-photo {
    flex: 1;
}

.second-photo img,
.third-photo img {
    width: 100%;
    height: auto;
    
}

.property-content{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}

.property-info{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    text-size-adjust: auto;    
}

.property-info p, .property-info h2{
    font-size: 20px;

}

.interest-form{
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 1em;
    align-items: center;
    padding: 1em;
}
.interest-form form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.interest-form h3{
    text-align: center;
    font-size: 2em;
}

.interest-form input, .interest-form textarea{
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid rgb(0, 0, 0);
    
}
.interest-form button{
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5em;
    flex: 1 0 100%;
}

.interest-form .name{
    display: flex;
    gap: 1em;
} */


/* NEW STYLES HERE */
.content {
    padding: 0 20%;
}

.photos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em; 
    margin-top: 2em;
    border-radius: 1em;
    width: 100%;
}

.main-photo {
    flex: 2;
    width: 100%;
}

.main-photo img {
    width: 100%;
}

.secondary-photos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

.second-photo img,
.third-photo img {
    width: 100%;
    height: auto;
}


/* Property content */
.info-interest-container {
    display: flex;
    gap: 2em;
    justify-content: center;
}


/* Info */

hr {
    margin: 18px 0;
}

.property-info {
    font-size: 20px;
}

.property-info .address-and-type .address {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 0;
}

.property-info .address-and-type .type {
    margin-top: 0;
    margin-bottom: 40px;
}

.property-info .price {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    height: 50px;
}

.property-info .price .total-price {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 14px;
}

.property-info .price .price-per-square {
    font-weight: 600;
}

.property-info .details {
    display: flex;
    gap: 2em;
    align-items: center;
    margin: 0;
}

.property-info .details p {
    margin: 5px 0;
}

.property-info .description * {
    margin: 10px 0;
}

.property-info .description p {
    text-align: justify;
}



/* Interest form */
.interest-form{
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 1em;
    align-items: center;
    padding: 1em;
}
.interest-form form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.interest-form h3{
    text-align: center;
    font-size: 2em;
}

.interest-form input, .interest-form textarea{
    padding: 0.5em;
    border-radius: 1em;
    border: 0.1em solid rgb(0, 0, 0);
    
}
.interest-form button{
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5em;
    flex: 1 0 100%;
}

.interest-form .name{
    display: flex;
    gap: 1em;
}

