:root{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
}



.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.logo-part h1{
    font-size: 2em;
}

.buy-rent {
    font-size: 1.5em;
}

.nav-part ul,.buy-rent-links ul{
    display: flex;
    list-style: none;
    gap: 1.5em;


}

.nav-part a,.buy-rent-links a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}


.logo-part{
    display: flex;
}

.logo-part h1{
    font-size: 2em;
}



.catchphrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    background: rgb(238, 238, 238);

}


.catchphrase h1{
    font-size: 4em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);

}

.catchphrase p{
    font-size: 2em;
    text-align: center;
    color: white;
}


.year_zero,.present_state{
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    
}

.year_zero img,
.present_state img {
    flex: 1; 
    max-width: 100%; 
    height: auto; 
    width: 70em; 

}

.text_zero,.text_present{
    flex: 1;
    font-size: 1em;
    padding: 1em;
    font-size: 2em;
    
}

.text_zero h2,.text_present h2{
    flex:1;
    font-size: 2em;
    color: rgb(4, 2, 2);
}



.footer{

    display: flex;
    align-items: center;
    padding: 3em;
    background: rgb(238, 238, 238);
    justify-content: space-evenly;
}

.footer-content {
    justify-content: left;
    gap: 10em;
    
}

.footer-content h3{
    font-size: 2em;
    text-align: center;
    line-height: 4em;
}

.footer-content ul{
    list-style: none;
    font-size: 1.5em;
}
.footer-content li{
    margin: 1em;
    display: inline-block;
}

.footer-content li{
    margin: 1em;
}
.footer-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-content a:hover,.nav-part a:hover,.buy-rent-links a:hover{
    color: blueviolet;
}

.footer .logo-part{
    align-items: center;

}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 17, 17);
}