root{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
}




.sign-in-form{
    width: 25em;
    height:fit-content; 
    margin: 0 auto; /* Center the modal horizontally */

    background-color: rgb(255, 254, 254); /* Background color of the modal */
    border-radius: 1em; /* Rounded corners for the modal */
    padding: 20px; /* Add padding inside the modal */
    box-shadow: 0.8em rgba(0, 0, 0, 0.1); /* Add a shadow to the modal */
    position: fixed; /* Fix the modal's position relative to the viewport */
    top: 50%; /* Align the top edge of the modal with the vertical center of the viewport */
    left: 50%; /* Align the left edge of the modal with the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Move the modal back by half its width and height */
    z-index: 1000; /* Ensure the modal is above other elements */
    border: solid 1px black;

}



.sign-in {
    position: absolute; /* Position the button absolutely within its parent */
    top: 10px; /* Distance from the top edge of the parent */
    right: 10px; /* Distance from the right edge of the parent */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 1em;
    text-align: center;
    padding: 0.2em 1em;
    font-size: 1.5em;
}


.form-contents{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}.form-header {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space items evenly across the header */
    align-items: center; /* Center items vertically within the header */
    margin-bottom: 20px; /* Add some space between header and content */
    
}

.form-contents h2 {
    margin-top: 2em;
    margin: 0; /* Remove default margin */
    font-size: 2em; /* Increase font size */
    font-weight: bold;
    text-align: center;
}

input[type="text"], input[type="password"] {
    padding: 0.5em;
    font-size: 1.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}
#facebookBtn, #googleBtn, #appleBtn,#connectBtn {
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    text-align: center;
    padding: 0.2em 1em;
    margin-top: 1em;
    font-size: 1.5em;
}

#connectBtn{
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    
}
#facebookBtn, #googleBtn, #appleBtn {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    
}

#facebookBtn:hover, #googleBtn:hover, #appleBtn:hover {
    background-color: #ccc;
}

#facebookBtn{
    background-image: url('../imgs/facebook_icon.ico');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center; /* Position the image to the left of the button */
    padding-left: 40px;
}

#googleBtn{
    background-image: url('../imgs/google_icon.ico');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center; /* Position the image to the left of the button */
    padding-left: 40px;
}

#appleBtn{
    background-image: url('../imgs/apple_icon.ico');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center; /* Position the image to the left of the button */
    padding-left: 40px;
}
