/* page adjusts to screen size and sections 
are stacked on top of each other */
:root{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
}



/* have a background img fit the container 
and change flex direction */

.nav-bar{
    
    background-color: #fff; /* Assuming a white background for contrast */
    padding: 1em 2em; /* Top and bottom padding of 1em, left and right padding of 2em */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    margin-bottom: 0.5em;
     
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    
}

.logo-part h1{
    font-size: 2em;
}

.buy-rent {
    font-size: 1.5em;
}

.nav-part ul,.buy-rent-links ul{
    display: flex;
    list-style: none;
    gap: 1.5em;


}

.nav-part a,.buy-rent-links a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.add-fav{
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.property-photos{
    width: fit-content;
    margin: 0 auto;

}

.photos {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    gap: 1em; /* Add a gap between flex items */
    margin-top: 2em;
    margin: 1em 4em; /* Add space around the photos */
    border-radius: 1em;
}

.main-photo {
    flex: 0 1 70%; /* Take 70% of available space, don't grow or shrink */
    display: flex;
    justify-content: flex-end;

}

.main-photo img {
    width: 100%; /* Ensure image fills the available width */
}

.secondary-photos {
    flex: 0 1 30%; /* Take 30% of available space, don't grow or shrink */
    display: flex;
    flex-direction: column; /* Stack secondary photos vertically */
    justify-content: flex-end; /* Align photos at the top */

}

.second-photo,
.third-photo {
    flex: 1; /* Take equal space within the secondary photos container */
}

.second-photo img,
.third-photo img {
    width: 100%; /* Ensure images fill the available width */
    height: auto; /* Maintain aspect ratio */
     /* Add spacing between secondary photos */
}



.property-content{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}

.property-info{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    text-size-adjust: auto;    
}

.property-info p{
    font-size: 20px;

}

.interest-form{
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 0.2em solid rgb(0, 0, 0);
    border-radius: 1em;
    align-items: center;
    padding: 1em;
}
.interest-form form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.interest-form h3{
    text-align: center;
    font-size: 2em;
}

.interest-form button{
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5em;
    flex: 1 0 100%;
}

.interest-form .name{
    display: flex;
    gap: 1em;
}

.footer{

    display: flex;
    align-items: center;
    padding: 3em;
    background: rgb(238, 238, 238);
    justify-content: space-evenly;
}

.footer-content {
    justify-content: left;
    gap: 10em;
    
}

.footer-content h3{
    font-size: 2em;
    text-align: center;
    line-height: 4em;
}

.footer-content ul{
    list-style: none;
    font-size: 1.5em;
}
.footer-content li{
    margin: 1em;
    display: inline-block;
}

.footer-content li{
    margin: 1em;
}
.footer-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-content a:hover,.nav-part a:hover,.buy-rent-links a:hover{
    color: blueviolet;
}

.footer .logo-part{
    align-items: center;

}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 17, 17);
}




