:root{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
}

.nav-bar{
    
    background-color: #fff; /* Assuming a white background for contrast */
    padding: 1em 1em; /* Top and bottom padding of 1em, left and right padding of 2em */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    margin-bottom: 0.5em;
     
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.logo-part h1{
    font-size: 2em;
}

.buy-rent {
    font-size: 2em;
}

.nav-part ul,.buy-rent-links ul{
    display: flex;
    list-style: none;
    gap: 1.5em;


}

.nav-part a,.buy-rent-links a{
    text-decoration: none;
    font-size: 2em;
    color: black;
}


/* Base styles */

.search-filters {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar input {
    flex: 0 1 auto;
    padding: 0.4em;
    font-size: 16px;
    width: 250px;
    border-radius: 0.3em;
    border: 0.1em solid #000000;
}

.property-type,.sale-type ,.price-range,.area-range{
    position: relative;
}

.type,.sale,.price ,.area,.subtype{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.3em;
}

/* Dropdown menu styles */
.type-menu ,.sale-menu,.price-menu ,.area-menu,.subtype-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    display: none;  /* Hidden by default */
    z-index: 1000;
    text-align: center;
}

.type-menu li,.sale-menu li,.subtype-menu li{
    border-bottom: 1px solid #ddd;
}

.type-menu li:last-child ,.sale-menu li:last-child,.subtype-menu li:last-child{
    border-bottom: none;
}

.type-menu li a,.sale-menu li a,.subtype-menu li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    font-size: 1.2em;
}

.type-menu li a:hover,.sale-menu li a:hover,.subtype-menu li a:hover{
    background-color: #000000;
    color: white;
}

 .price-menu , .area-menu{
    min-width: 300px;
    width: auto;
    border-radius: 0.8em;
    border: solid 0.1em #000000;
}  



.price-input ,.area-input{
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
}
.price-input .field ,.area-input .field{
    display: flex;
    width: 100%;
    align-items: center;
}

header p, .field span{
    font-size: 1.9em;

}



.field input {
    width: 60%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator,.area-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }



/* Show dropdown on hover */
.property-type:hover .type-menu ,
.sale-type:hover .sale-menu,
.price-range:hover .price-menu,.area-range:hover .area-menu{
    display: block;
}

/* Optional: Show dropdown on button click (if JavaScript is used) */
.type.active + .type-menu {
    display: block;
}



